@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  width: 100vw !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
*{
    font-family: 'Poppins',sans-serif !important;
}
/* Font Styles */
h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
  }
  
  body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #030303;
  }
  
  /* Radio Buttons */
  input[type="radio"] {
    background-color: #FFFFFF;
  }
  input[type="radio"]:checked {
    accent-color:  #6741D9;
  }
  
  
  /* Text/Input Fields */
  input[type="text"], input[type="password"], input[type="email"] {
    border: 1px dashed #FFFFFF;
  }
  input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled {
    border-color: #C2C2C2;
    color: #C2C2C2;
  }
  
  /* Graph Styles */
  .graph-bars {
    background-color: #F0C3F1;
  }
  .graph-axis {
    color: #FFFFFF;
  }
  
  /* Save Button */
  .save-button {
    width: 600px;
    max-width: 300px;
    justify-content: center; 
    background-color: #6741D9;
  }
  .save-button:hover {
    border: 1px solid #F0C3F1;
  }
  .save-button:active {
    border: 1px solid #F0C3F1;
  }
  
  /* Element Dimensions */
  .headings {
    width: 600px;
    max-width: 300px;
    justify-content: center;
  }
  .fields {
    width: 600px;
    max-width: 300px;
  }
  .login, .signup, .save-button {
    width: 600px;
    max-width: 300px;
    justify-content: center;
  }
  .graph-container {
    width: 600px;
    max-width: 300px;
  }
  